Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve 'E:\workspace\ongdb\temp\ongdb-graphene\src\main\resources\public\views\do\Edge.html' in 'E:\workspa  ce\ongdb\temp\ongdb-graphene':
  Error: Can't resolve 'E:\workspace\ongdb\temp\ongdb-graphene\src\main\resources\public\views\do\Edge.html' in 'E:\workspace\ongdb\temp\ongdb-grap  hene'
  EntryModuleNotFoundError: Entry module not found: Error: Can't resolve 'E:\workspace\ongdb\temp\ongdb-graphene\src\main\resources\public\views\do  \Edge.html' in 'E:\workspace\ongdb\temp\ongdb-graphene'
  
  - Compilation.js:1075 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/Compilation.js:1075:31
  
  - NormalModuleFactory.js:401 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:401:22
  
  - NormalModuleFactory.js:130 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:130:21
  
  - NormalModuleFactory.js:224 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:224:22
  
  - async.js:2830 
    [ongdb-graphene]/[_neo-async@2.6.2@neo-async]/async.js:2830:7
  
  - async.js:6877 
    [ongdb-graphene]/[_neo-async@2.6.2@neo-async]/async.js:6877:13
  
  - NormalModuleFactory.js:214 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:214:25
  
  - Resolver.js:213 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:213:14
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - UnsafeCachePlugin.js:44 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/UnsafeCachePlugin.js:44:7
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DescriptionFilePlugin.js:67 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/DescriptionFilePlugin.js:67:43
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - RootPlugin.js:37 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/RootPlugin.js:37:38
  
  
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DescriptionFilePlugin.js:67 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/DescriptionFilePlugin.js:67:43
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DirectoryExistsPlugin.js:27 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/DirectoryExistsPlugin.js:27:15
  
  - CachedInputFileSystem.js:85 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/CachedInputFileSystem.js:85:15
  
  - task_queues.js:75 processTicksAndRejections
    internal/process/task_queues.js:75:11
  
  - Entry module not found: Error: Can't resolve 'E:\workspace\ongdb\temp\ongdb-graphene\src\main\resources\public\views\do\Node.html' in 'E:\works    pace\ongdb\temp\ongdb-graphene':
  
  - Error: Can't resolve 'E:\workspace\ongdb\temp\ongdb-graphene\src\main\resources\public\views\do\Node.html' in 'E:\workspace\ongdb\temp\ongdb-gr    aphene'
  
  - EntryModuleNotFoundError: Entry module not found: Error: Can't resolve 'E:\workspace\ongdb\temp\ongdb-graphene\src\main\resources\public\views\    do\Node.html' in 'E:\workspace\ongdb\temp\ongdb-graphene'
  
  - Compilation.js:1075 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/Compilation.js:1075:31
  
  - NormalModuleFactory.js:401 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:401:22
  
  - NormalModuleFactory.js:130 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:130:21
  
  - NormalModuleFactory.js:224 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:224:22
  
  - async.js:2830 
    [ongdb-graphene]/[_neo-async@2.6.2@neo-async]/async.js:2830:7
  
  - async.js:6877 
    [ongdb-graphene]/[_neo-async@2.6.2@neo-async]/async.js:6877:13
  
  - NormalModuleFactory.js:214 
    [ongdb-graphene]/[_webpack@4.46.0@webpack]/lib/NormalModuleFactory.js:214:25
  
  - Resolver.js:213 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:213:14
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - UnsafeCachePlugin.js:44 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/UnsafeCachePlugin.js:44:7
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DescriptionFilePlugin.js:67 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/DescriptionFilePlugin.js:67:43
  
  - Resolver.js:285 
    [ongdb-graphene]/[_enhanced-resolve@4.5.0@enhanced-resolve]/lib/Resolver.js:285:5
  
</pre><script src="/static/js/index/index-fbb32.js"></script>