
.overlay-export-all-json-dialog {
    border-radius: 5px;
    background: #fff;
    margin-top: -150px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: margin .2s;
}

.overlay-export-all-json-dialog .header,
.overlay-export-all-json-dialog .footer,
.overlay-export-all-json-dialog .body,
.overlay-export-all-json-dialog .sub-header {
    padding: 10px;
}

.overlay-export-all-json-dialog .header,
.overlay-export-all-json-dialog .footer {
    background: #efefef;
}

.overlay-export-all-json-dialog .header,
.overlay-export-all-json-dialog .sub-header {
    border-bottom: solid 1px #ddd;
}

.overlay-export-all-json-dialog .footer {
    border-top: solid 1px #ddd;
    text-align: right;
}

.overlay-export-all-json-dialog .footer button  {
    min-width: 80px;
}

.overlay-export-all-json-dialog .footer .left {
    float: left;
}

.overlay-export-all-json-dialog .body {
    min-height: 240px;
    max-height: 50vh;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 536px;
    max-width: 50vw;
    overflow: auto;
}

